body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	padding: 20px;
	background-color:lightgreen;
}
.dox{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 10px;
	font-size: 28px;
	color: white;
	background-color: coral;
}